.record-button,
.send-voice-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 0.25rem;
  transition: background-color 0.3s ease-in-out;
}
.record-button {
  background-color: #b40000;
  color: white;
  &:hover {
    background-color: #ff0000;
  }
}
.send-voice-button {
  background-color: #147519;
  color: white;
  &:hover {
    background-color: #21a315;
  }
}
.status {
  color: #b40000;
  font-size: 0.75rem;
  font-weight: bold;
}
